footer{
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
        div{
            a{
                color: white;
                font-size: large;
                text-decoration: none;
            }
        }
}